section.account{
    background:radial-gradient(#fff,#ffd6d6);
    display: flex;
    height: 90vh;
    justify-content: space-around;
    align-items: center;
}


section.account article.info{
    height: 40vh;
    background-color: #fff;
    padding: 10px;
    position: relative;
    top: -2em;
}


section.account .account-headers{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}


.account-headers h3.active::after{
    content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-radius: 5px;
    background-color: rgb(200, 0, 0);
}


